name: ansible lint

on:
  pull_request:
  push:
  schedule:
    - cron: "0 11 13 */2 *"

jobs:
  build:
    name: Linting
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Lint playbook
      uses: ansible/ansible-lint-action@master
      with:
        targets: main.yml
        override-deps: ""
        args: ""