name: playbook tests

on:
  pull_request:
  push:
  schedule:
    - cron: "0 11 13 */2 *"

jobs:
  tests:
    name: Tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare
        run: |
          curl -sLO https://raw.githubusercontent.com/Homebrew/install/master/uninstall.sh
          chmod +x ./uninstall.sh
          sudo ./uninstall.sh --force
          sudo rm -rf /usr/local/Homebrew
          sudo rm -rf /usr/local/Caskroom
          sudo rm -rf /usr/local/bin/brew
          sudo rm -rf /Applications/Firefox.app
          sudo rm -rf /Applications/Google\ Chrome.app
          sudo pip3 install ansible
          cp test/ansible.cfg ./ansible.cfg
          cp test/inventory ./inventory
          ansible-galaxy install -r requirements.yml

      - name: Syntax check
        run: ansible-playbook main.yml --syntax-check

      - name: Test playbook
        run: ansible-playbook main.yml -vvvv
        env:
          ANSIBLE_FORCE_COLOR: '1'

      - name: Idempotence check
        run: |
          idempotence=$(mktemp)
          ansible-playbook main.yml -vvvv | tee -a ${idempotence}
          tail ${idempotence} | grep -q 'changed=0.*failed=0' && (echo 'Idempotence test: pass' && exit 0) || (echo 'Idempotence test: fail' && exit 1)
        env:
          ANSIBLE_FORCE_COLOR: '1'
